<style>
    thead {
        font-weight: bold;
    }
</style>

<h1>Conductor UI</h1>
<fieldset>
    <button onclick="init()">Init</button>
    <button onclick="get('/enumerate')">Enumerate nodes</button>
    <button onclick="get('/node/all')">List Nodes</button>
    <button onclick="get('/play')">Start Playing</button>
    <button onclick="get('/stop')">Stop Playing</button>
</fieldset>

<fieldset>
    <form action="/load-midi" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Load Midi" />
    </form>
</fieldset>

<table>
    <thead>
        <td>Name</td>
        <td>Instrument</td>
    </thead>
    <tbody id="tracks"></tbody>
</table>

<h4>Output:</h4>
<pre id="out"></pre>

<script>
    const get = async (url) => {
        document.getElementById("out").innerText = "...";
        return fetch(url)
            .then((x) => x.json())
            .then((x) => {
                document.getElementById("out").innerText = JSON.stringify(x, null, 2);
                return x;
            });
    };

    const init = async (url) => {
        const { tracks } = await get("/get-tracks");
        console.log(tracks);

        await get("/enumerate");
        const { nodes } = await get("/node/all");
        console.log(nodes);

        const instrChannels = [];

        for (const node of nodes) {
            const { features } = await get("/features/" + node.node);
            console.log(features);

            for (const feature of features) {
                if (feature.type != "note") continue;
                const name = node.ident.split(";")[0] + ` (Channel ${feature.channel})`;
                instrChannels.push([name, node.node, feature.channel]);
            }
        }

        const onChange = (track, channel) => {
            return (e) => {
                const selected = e.target.children[e.target.selectedIndex];
                const node = parseInt(selected.getAttribute("data-node"), 10);
                const nodeChannel = parseInt(selected.getAttribute("data-channel"), 10);
                console.log(track, channel, node, nodeChannel);
                //
            };
        };

        const tracksEl = document.getElementById("tracks");
        tracksEl.innerHTML = "";
        for (let nTrack = 0; nTrack < tracks.length; nTrack++) {
            const track = tracks[nTrack];

            for (const channel of track) {
                const row = document.createElement("tr");
                const lblTd = document.createElement("td");
                row.appendChild(lblTd);
                const selectTd = document.createElement("td");
                row.appendChild(selectTd);

                lblTd.innerText = `Track ${nTrack} Channel ${channel[0]} (${channel[1]})`;

                const selectEl = document.createElement("select");
                selectEl.addEventListener("change", onChange(nTrack, channel[0]));

                for (const instr of [["---", -1, -1], ...instrChannels]) {
                    const optionEl = document.createElement("option");
                    optionEl.innerText = instr[0];
                    optionEl.setAttribute("data-node", instr[1]);
                    optionEl.setAttribute("data-channel", instr[2]);
                    selectEl.appendChild(optionEl);
                }
                selectTd.appendChild(selectEl);
                tracksEl.appendChild(row);
            }
        }
    };
</script>
