<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RO - Conductor</title>
        <link rel="stylesheet" href="/static/index.css" />
    </head>

    <body>
        <div class="pane" id="p-status"></div>
        <div class="pane" id="p-time"></div>
        <div class="pane" id="p-tracker">
            <div class="t-line">000000: 000- 0000</div>
            <div class="t-line t-line-cur">000000: 000- 0000</div>
            <div class="t-line">000000: 000- 0000</div>
        </div>
        <div class="pane" id="p-instruments"></div>
        <div class="pane" id="p-controls"></div>
    </body>
</html>
