* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 128px auto 256px;
    grid-template-areas:
        "p-status p-time p-instruments"
        "p-tracker p-tracker p-instruments"
        "p-tracker p-tracker p-controls";
    gap: 16px;
    padding: 16px;
}
#p-status {
    grid-area: p-status;
}
#p-time {
    grid-area: p-time;
}
#p-tracker {
    grid-area: p-tracker;
    background-color: #000;
    color: #fff;
    font-size: 1.5em;
    padding: 1em 0;
}
#p-instruments {
    grid-area: p-instruments;
}
#p-controls {
    grid-area: p-controls;
}

.pane {
    background-color: #ddd;
}

.t-line {
    font-family: monospace;
    padding: .125em 1em;
    position: relative;
    z-index: 0;
}
.t-line-cur::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 255, .25);
    z-index: -1;
}
